In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ipl=pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')

In [3]:
#1
df_ipl.columns

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [4]:
df_iplm=pd.read_csv('IPL Matches 2008-2020.csv')

In [5]:
#1
df_iplm.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [6]:
#2
len(df_ipl['batsman'].unique())

537

In [7]:
#3
df_ipl['batsman'].unique()

array(['RT Ponting', 'BB McCullum', 'DJ Hussey', 'Mohammad Hafeez',
       'SC Ganguly', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke',
       'P Kumar', 'Z Khan', 'SB Joshi', 'W Jaffer', 'JH Kallis',
       'R Dravid', 'V Kohli', 'K Goel', 'MEK Hussey', 'JR Hopes',
       'SK Raina', 'JDP Oram', 'S Badrinath', 'PA Patel', 'ML Hayden',
       'MS Dhoni', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich',
       'IK Pathan', 'T Kohli', 'YK Pathan', 'S Dhawan', 'G Gambhir',
       'SK Warne', 'D Salunkhe', 'SK Trivedi', 'V Sehwag', 'SR Watson',
       'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'S Chanderpaul',
       'LRPL Taylor', 'WP Saha', 'AS Yadav', 'A Symonds', 'SB Bangar',
       'WPUJC Vaas', 'RP Singh', 'AC Gilchrist', 'Y Venugopal Rao',
       'VVS Laxman', 'RG Sharma', 'SB Styris', 'LR Shukla', 'PP Chawla',
       'Kamran Akmal', 'DPMD Jayawardene', 'S Sohal', 'B Lee', 'WA Mota',
       'Shahid Afridi', 'DJ Bravo', 'A Nehra', 'MA Khote', 'GC Smith',
       'Pankaj Singh', 'S Sreesanth', 'VRV Singh', 'SS Tiwary',
       'RR Sarwan', 'DS Kulkarni', 'R Vinay Kumar', 'M Kartik',
       'I Sharma', 'AB Agarkar', 'AM Rahane', 'TM Srivastava',
       'Shoaib Malik', 'MK Tiwary', 'KD Karthik', 'R Bhatia',
       'MF Maharoof', 'VY Mahesh', 'B Chipli', 'DW Steyn', 'DB Das',
       'MK Pandey', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SE Marsh', 'SA Asnodkar', 'BJ Hodge', 'Sohail Tanvir',
       'Salman Butt', 'Umar Gul', 'AB Dinda', 'AB de Villiers',
       'SP Fleming', 'S Vidyut', 'JA Morkel', 'LPC Silva', 'DB Ravi Teja',
       'Misbah-ul-Haq', 'PJ Sangwan', 'YV Takawale', 'RR Raje',
       'Mohammad Asif', 'GD McGrath', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha',
       'MM Patel', 'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar',
       'PP Ojha', 'SP Goswami', 'SR Tendulkar', 'U Kaul', 'Niraj Patel',
       'AD Mascarenhas', 'TM Dilshan', 'A Mishra', 'LA Pomersbach',
       'Iqbal Abdulla', 'Younis Khan', 'PM Sarvesh Kumar',
       'DP Vijaykumar', 'Shoaib Akhtar', 'Abdur Razzak', 'H Das',
       'DR Smith', 'SD Chitnis', 'CRD Fernando', 'VS Yeligati',
       'L Balaji', 'A Mukund', 'RR Powar', 'JP Duminy', 'A Flintoff',
       'T Thushara', 'KP Pietersen', 'JD Ryder', 'T Henderson',
       'Kamran Khan', 'RS Bopara', 'MC Henriques', 'CH Gayle',
       'R Bishnoi', 'KV Sharma', 'FH Edwards', 'AS Raut', 'PC Valthaty',
       'RJ Quiney', 'Yashpal Singh', 'M Manhas', 'AA Bilakhia',
       'AN Ghosh', 'BAW Mendis', 'DL Vettori', 'MN van Wyk',
       'RE van der Merwe', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'KP Appanna', 'LA Carseldine', 'NV Ojha', 'SM Harwood', 'M Vijay',
       'DA Warner', 'SB Jakati', 'RJ Harris', 'D du Preez', 'M Morkel',
       'AD Mathews', 'SL Malinga', 'C Nanda', 'J Botha',
       'Mashrafe Mortaza', 'A Singh', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'SS Shaikh', 'R Ashwin', 'Mohammad Ashraful',
       'Jaskaran Singh', 'Anirudh Singh', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla',
       'EJG Morgan', 'JM Kemp', 'S Tyagi', 'RS Gavaskar', 'SE Bond',
       'S Ladda', 'DP Nannes', 'KA Pollard', 'DR Martyn', 'S Narwal',
       'MJ Lumb', 'Bipul Sharma', 'AB Barath', 'FY Fazal', 'AC Voges',
       'MD Mishra', 'UT Yadav', 'J Theron', 'SJ Srivastava', 'R Sharma',
       'Mandeep Singh', 'KM Jadhav', 'SW Tait', 'KB Arun Karthik',
       'KAJ Roach', 'PD Collingwood', 'CK Langeveldt', 'VS Malik',
       'A Mithun', 'AP Dole', 'AN Ahmed', 'RS Sodhi', 'DE Bollinger',
       'S Sriram', 'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh',
       'AJ Finch', 'STR Binny', 'Harmeet Singh', 'IR Jaggi',
       'DT Christian', 'MA Agarwal', 'RV Gomez', 'AUK Pathan',
       'UBT Chand', 'DJ Jacobs', 'NJ Rimmington', 'Sunny Singh',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'S Aravind', 'MS Wade', 'TD Paine', 'JEC Franklin', 'SB Wagh',
       'AC Thomas', 'Shakib Al Hasan', 'DH Yagnik', 'S Randiv',
       'BJ Haddin', 'NLTC Perera', 'NL McCullum', 'JE Taylor',
       'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt', 'AG Murtaza',
       'Harpreet Singh', 'M Klinger', 'AC Blizzard', 'I Malhotra',
       'L Ablish', 'CA Ingram', 'S Nadeem', 'P Parameswaran',
       'CJ Ferguson', 'VR Aaron', 'AA Chavan', 'ND Doshi', 'B Kumar',
       'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt', 'F du Plessis',
       'RE Levi', 'GJ Maxwell', 'SPD Smith', 'SA Yadav', 'MN Samuels',
       'KK Cooper', 'JP Faulkner', 'HV Patel', 'DAJ Bracewell',
       'DJ Harris', 'Ankit Sharma', 'SP Narine', 'GB Hogg', 'RR Bhatkal',
       'CJ McKay', 'N Saini', 'DA Miller', 'Azhar Mahmood', 'P Negi',
       'RJ Peterson', 'KMDN Kulasekara', 'A Ashish Reddy',
       'V Pratap Singh', 'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh',
       'AP Majumdar', 'PA Reddy', 'K Upadhyay', 'P Awana', 'AD Russell',
       'A Chandila', 'CA Lynn', 'Sunny Gupta', 'MC Juneja', 'KK Nair',
       'GH Vihari', 'R Shukla', 'MDKJ Perera', 'AS Rajpoot', 'B Laughlin',
       'M Vohra', 'JD Unadkat', 'Mohammed Shami', 'BMAJ Mendis',
       'R Rampaul', 'CH Morris', 'SV Samson', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'MG Johnson',
       'LJ Wright', 'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam',
       'DJG Sammy', 'KW Richardson', 'MM Sharma', 'UA Birla',
       'Parvez Rasool', 'Sandeep Sharma', 'S Kaul', 'Sachin Baby',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'NJ Maddinson',
       'AR Patel', 'JJ Bumrah', 'JDS Neesham', 'TG Southee', 'MA Starc',
       'BR Dunk', 'RR Rossouw', 'Shivam Sharma', 'YS Chahal',
       'LMP Simmons', 'VH Zol', 'Imran Tahir', 'BCJ Cutting',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'R Tewatia', 'JO Holder',
       'Karanveer Singh', 'SS Iyer', 'DJ Hooda', 'Anureet Singh',
       'KS Williamson', 'SA Abbott', 'J Suchith', 'RG More', 'D Wiese',
       'HH Pandya', 'SN Khan', 'MJ McClenaghan', 'DJ Muthuswami',
       'PJ Cummins', 'SN Thakur', 'JC Buttler', 'CR Brathwaite',
       'MP Stoinis', 'Ishan Kishan', 'C Munro', 'P Sahu', 'KH Pandya',
       'AD Nath', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'M Ashwin',
       'NS Naik', 'RR Pant', 'SW Billings', 'KC Cariappa',
       'PSP Handscomb', 'Swapnil Singh', 'J Yadav', 'UT Khawaja',
       'HM Amla', 'F Behardien', 'A Zampa', 'BB Sran', 'N Rana',
       'S Kaushik', 'ER Dwivedi', 'CJ Jordan', 'A Choudhary', 'TS Mills',
       'BA Stokes', 'JJ Roy', 'Vishnu Vinod', 'Basil Thampi', 'CR Woakes',
       'RA Tripathi', 'DL Chahar', 'V Shankar', 'Rashid Khan',
       'LH Ferguson', 'RD Chahar', 'C de Grandhomme', 'AF Milne',
       'S Badree', 'Mohammad Nabi', 'AJ Tye', 'K Rabada', 'Kuldeep Yadav',
       'Washington Sundar', 'DM Bravo', 'AR Bawne', 'SP Jackson',
       'Ankit Soni', 'TA Boult', 'E Lewis', 'MA Wood', 'RK Singh',
       'DJM Short', 'K Gowtham', 'TK Curran', 'M Markande', 'B Stanlake',
       'Mujeeb Ur Rahman', 'A Dananjaya', 'Shivam Mavi', 'Shubman Gill',
       'Mohammed Siraj', 'H Klaasen', 'RK Bhui', 'JC Archer', 'PP Shaw',
       'LE Plunkett', 'Mustafizur Rahman', 'AD Hales', 'MK Lomror',
       'DR Shorey', 'MM Ali', 'M Prasidh Krishna', 'P Chopra',
       'JPR Scantlebury-Searles', 'Abhishek Sharma', 'IS Sodhi',
       'SO Hetmyer', 'S Dube', 'NA Saini', 'JM Bairstow', 'Rasikh Salam',
       'KMA Paul', 'N Pooran', 'P Ray Barman', 'S Lamichhane',
       'SM Curran', 'GC Viljoen', 'Avesh Khan', 'HF Gurney', 'SD Lad',
       'AS Joseph', 'MJ Santner', 'R Parag', 'JL Denly', 'LS Livingstone',
       'KK Ahmed', 'AJ Turner', 'SE Rutherford', 'Harpreet Brar',
       'Y Prithvi Raj', 'P Simran Singh', 'JL Pattinson', 'A Nortje',
       'T Banton', 'D Padikkal', 'YBK Jaiswal', 'RD Gaikwad',
       'TU Deshpande', 'Abdul Samad', 'PK Garg', 'JR Philippe',
       'Kartik Tyagi', 'CV Varun', 'KL Nagarkoti', 'I Udana',
       'Ravi Bishnoi', 'Shahbaz Ahmed', 'AT Carey', 'N Jagadeesan',
       'T Natarajan', 'P Dubey', 'SS Cottrell', 'Arshdeep Singh',
       'DR Sams'], dtype=object)

In [94]:
#5
df_ipl['bowler'].unique()

array(['AA Noffke', 'Z Khan', 'JH Kallis', 'SB Joshi', 'CL White',
       'P Kumar', 'AB Agarkar', 'SC Ganguly', 'LR Shukla', 'I Sharma',
       'AB Dinda', 'JDP Oram', 'JR Hopes', 'MS Gony', 'K Goel',
       'PP Chawla', 'WA Mota', 'IK Pathan', 'S Sreesanth', 'B Lee',
       'M Muralitharan', 'P Amarnath', 'Joginder Sharma', 'GD McGrath',
       'B Geeves', 'SK Warne', 'YK Pathan', 'D Salunkhe', 'SR Watson',
       'SK Trivedi', 'DL Vettori', 'MF Maharoof', 'MM Patel', 'R Bhatia',
       'B Akhil', 'R Vinay Kumar', 'A Nehra', 'SM Pollock', 'DS Kulkarni',
       'AM Nayar', 'Harbhajan Singh', 'ST Jayasuriya', 'WPUJC Vaas',
       'RP Singh', 'SB Styris', 'SB Bangar', 'DJ Hussey',
       'Mohammad Hafeez', 'M Kartik', 'PP Ojha', 'A Symonds',
       'Pankaj Singh', 'Mohammad Asif', 'VY Mahesh', 'Shahid Afridi',
       'MA Khote', 'DJ Bravo', 'VS Yeligati', 'D Kalyankrishna',
       'VRV Singh', 'A Kumble', 'Sohail Tanvir', 'DNT Zoysa',
       'SD Chitnis', 'Shoaib Malik', 'Yuvraj Singh', 'DW Steyn',
       'JA Morkel', 'CRD Fernando', 'V Sehwag', 'V Kohli',
       'Gagandeep Singh', 'Y Venugopal Rao', 'Umar Gul', 'M Ntini',
       'PJ Sangwan', 'DP Vijaykumar', 'DB Ravi Teja', 'LPC Silva',
       'DJ Thornely', 'RR Raje', 'SK Raina', 'S Vidyut', 'L Balaji',
       'CK Kapugedera', 'DR Smith', 'AD Mascarenhas', 'A Mishra',
       'Shoaib Akhtar', 'Iqbal Abdulla', 'RR Powar', 'PM Sarvesh Kumar',
       'Abdur Razzak', 'RA Jadeja', 'TM Dilshan', 'RG Sharma', 'A Nel',
       'BAW Mendis', 'A Flintoff', 'T Thushara', 'SL Malinga',
       'T Henderson', 'Kamran Khan', 'JD Ryder', 'DP Nannes', 'AM Salvi',
       'YA Abdulla', 'VS Malik', 'Harmeet Singh', 'FH Edwards',
       'MC Henriques', 'CH Gayle', 'KP Pietersen', 'LRPL Taylor',
       'RS Bopara', 'MK Tiwary', 'Anureet Singh', 'RR Bose', 'KP Appanna',
       'Shoaib Ahmed', 'BJ Hodge', 'SR Tendulkar', 'RE van der Merwe',
       'JP Duminy', 'S Tyagi', 'GR Napier', 'SM Harwood', 'AS Raut',
       'SB Jakati', 'D du Preez', 'TL Suman', 'RJ Harris', 'A Singh',
       'M Morkel', 'LA Carseldine', 'A Mithun', 'C Nanda', 'SS Sarkar',
       'AD Mathews', 'AM Rahane', 'J Botha', 'Mashrafe Mortaza',
       'AB McDonald', 'Y Nagar', 'CK Langeveldt', 'R Ashwin', 'RA Shaikh',
       'Jaskaran Singh', 'AA Jhunjhunwala', 'A Uniyal', 'SW Tait',
       'AG Murtaza', 'R Sathish', 'R McLaren', 'RS Gavaskar', 'JM Kemp',
       'S Ladda', 'Bipul Sharma', 'SE Bond', 'KA Pollard', 'S Narwal',
       'UT Yadav', 'SJ Srivastava', 'AC Voges', 'R Sharma', 'J Theron',
       'NLTC Perera', 'KAJ Roach', 'PD Collingwood', 'C Ganapathy',
       'MB Parmar', 'DE Bollinger', 'SB Wagh', 'JD Unadkat', 'AP Dole',
       'AN Ahmed', 'FY Fazal', 'MR Marsh', 'L Ablish', 'S Sriram',
       'AJ Finch', 'STR Binny', 'ND Doshi', 'S Randiv', 'TG Southee',
       'AL Menaria', 'DT Christian', 'AUK Pathan', 'RV Gomez',
       'JEC Franklin', 'WD Parnell', 'M Manhas', 'AC Thomas',
       'NJ Rimmington', 'RN ten Doeschate', 'S Nadeem', 'BA Bhatt',
       'R Ninan', 'JJ van der Wath', 'S Aravind', 'Shakib Al Hasan',
       'PC Valthaty', 'S Dhawan', 'J Syed Mohammad', 'VR Aaron',
       'JE Taylor', 'NL McCullum', 'KMDN Kulasekara', 'P Parameswaran',
       'I Malhotra', 'B Chipli', 'B Kumar', 'AA Kazi', 'Anand Rajan',
       'AA Chavan', 'P Prasanth', 'Y Gnaneswara Rao', 'S Rana',
       'JP Faulkner', 'SS Mundhe', 'RW Price', 'GJ Maxwell', 'M de Lange',
       'MN Samuels', 'KK Cooper', 'DAJ Bracewell', 'HV Patel',
       'Ankit Sharma', 'DJ Harris', 'TP Sudhindra', 'F du Plessis',
       'SP Narine', 'GB Hogg', 'RR Bhatkal', 'P Awana', 'V Pratap Singh',
       'CJ McKay', 'A Ashish Reddy', 'AD Russell', 'Azhar Mahmood',
       'A Chandila', 'P Negi', 'LJ Wright', 'RJ Peterson', 'R Shukla',
       'MJ Clarke', 'BW Hilfenhaus', 'SPD Smith', 'K Upadhyay',
       'Sunny Gupta', 'MG Johnson', 'JJ Bumrah', 'S Badree', 'AS Rajpoot',
       'B Laughlin', 'GH Vihari', 'Mohammed Shami', 'BMAJ Mendis',
       'CH Morris', 'Harmeet Singh (2)', 'S Kaul', 'R Dhawan',
       'MM Sharma', 'R Rampaul', 'SMSM Senanayake', 'KV Sharma',
       'JO Holder', 'IC Pandey', 'Sandeep Sharma', 'YS Chahal',
       'DJG Sammy', 'KW Richardson', 'P Suyal', 'PV Tambe', 'BJ Rohrer',
       'Parvez Rasool', 'MG Neser', 'NM Coulter-Nile', 'AC Gilchrist',
       'CJ Anderson', 'MA Starc', 'JDS Neesham', 'AR Patel', 'M Vijay',
       'R Tewatia', 'SA Yadav', 'Shivam Sharma', 'Imran Tahir',
       'V Shankar', 'LMP Simmons', 'BCJ Cutting', 'S Gopal', 'K Santokie',
       'BE Hendricks', 'PJ Cummins', 'JW Hastings', 'Karanveer Singh',
       'DJ Muthuswami', 'TA Boult', 'SA Abbott', 'KC Cariappa',
       'DJ Hooda', 'J Suchith', 'RG More', 'MJ McClenaghan', 'D Wiese',
       'HH Pandya', 'SN Thakur', 'GS Sandhu', 'Gurkeerat Singh',
       'J Yadav', 'BB Sran', 'M Ashwin', 'CR Brathwaite', 'C Munro',
       'MP Stoinis', 'P Sahu', 'Mustafizur Rahman', 'AF Milne',
       'Kuldeep Yadav', 'KH Pandya', 'KJ Abbott', 'T Shamsi', 'S Kaushik',
       'SM Boland', 'Swapnil Singh', 'CJ Jordan', 'A Zampa',
       'Sachin Baby', 'N Rana', 'DL Chahar', 'KS Williamson', 'TM Head',
       'A Choudhary', 'TS Mills', 'Rashid Khan', 'BA Stokes', 'CR Woakes',
       'T Natarajan', 'RD Chahar', 'B Stanlake', 'Basil Thampi',
       'Tejas Baroka', 'C de Grandhomme', 'AJ Tye', 'LH Ferguson',
       'Mohammad Nabi', 'Mohammed Siraj', 'K Rabada', 'Washington Sundar',
       'SS Agarwal', 'NB Singh', 'RA Tripathi', 'Ankit Soni', 'MJ Henry',
       'Avesh Khan', 'MA Wood', 'M Markande', 'Mujeeb Ur Rahman',
       'K Khejroliya', 'K Gowtham', 'DJM Short', 'TK Curran',
       'A Dananjaya', 'Shivam Mavi', 'JC Archer', 'LE Plunkett',
       'IS Sodhi', 'MK Lomror', 'KM Asif', 'L Ngidi', 'DJ Willey',
       'M Prasidh Krishna', 'MM Ali', 'JPR Scantlebury-Searles',
       'S Lamichhane', 'CJ Dala', 'KK Ahmed', 'NA Saini', 'S Dube',
       'Rasikh Salam', 'KMA Paul', 'SM Curran', 'CV Varun', 'GC Viljoen',
       'Mandeep Singh', 'P Ray Barman', 'MJ Santner', 'JP Behrendorff',
       'SC Kuggeleijn', 'AS Joseph', 'HF Gurney', 'S Midhun', 'R Parag',
       'LS Livingstone', 'SN Khan', 'Abhishek Sharma', 'Arshdeep Singh',
       'Harpreet Brar', 'SE Rutherford', 'Y Prithvi Raj', 'O Thomas',
       'AS Roy', 'S Sandeep Warrier', 'JL Pattinson', 'SS Cottrell',
       'A Nortje', 'Ravi Bishnoi', 'I Udana', 'TU Deshpande',
       'KL Nagarkoti', 'Kartik Tyagi', 'DR Sams', 'Shahbaz Ahmed',
       'Abdul Samad', 'JR Hazlewood', 'DA Warner', 'CJ Green', 'P Dubey',
       'Monu Kumar'], dtype=object)

In [8]:
len(df_ipl['bowler'].unique())

420

In [9]:
#2 and #4
df_ipl.nunique()

id                  816
inning                2
over                 20
ball                  9
batsman             537
non_striker         530
bowler              420
batsman_runs          7
extra_runs            7
total_runs            8
non_boundary          2
is_wicket             2
dismissal_kind        9
player_dismissed    506
fielder             879
extras_type           5
batting_team         15
bowling_team         15
dtype: int64

In [10]:
df_ipl['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [95]:
df_ipl['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', nan,
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [14]:
#6
c=[]
c.append(df_ipl['batting_team'])
c.append(df_ipl['bowling_team'])
x=set()
for i in c:
    x.update(i)
x

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Pune Warriors',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 nan}

In [18]:
#7
a=df_ipl.groupby('batsman').sum()['total_runs']
a=a.sort_values(ascending=False).reset_index()
a.head(10)

          batsman  total_runs
0         V Kohli        6081
1        SK Raina        5604
2       DA Warner        5522
3        S Dhawan        5452
4       RG Sharma        5394
5        CH Gayle        5103
6  AB de Villiers        5016
7      RV Uthappa        4878
8        MS Dhoni        4855
9       G Gambhir        4479

In [20]:
#8
df_ipl['dismissal_kind'].unique()

array([nan, 'caught', 'run out', 'bowled', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [24]:
#9
df_ipl['dismissal_kind'].value_counts()

caught                   5743
bowled                   1700
run out                   893
lbw                       571
stumped                   294
caught and bowled         269
hit wicket                 12
retired hurt               11
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [23]:
#10
df_ipl['id'].nunique()

816

In [27]:
#11
df_ipl.groupby('batsman').sum()['ball'].sort_values(ascending=False)

batsman
V Kohli           16161
S Dhawan          14926
SK Raina          14665
RG Sharma         14441
DA Warner         13410
                  ...
S Kaushik             4
V Pratap Singh        4
C Nanda               3
S Lamichhane          2
JL Denly              1
Name: ball, Length: 537, dtype: int64

In [30]:
#12
df_ipl.groupby('batsman').sum()['ball'].loc['SR Tendulkar']

7375

In [35]:
#13
df_ipl.groupby(['id','inning','batting_team'])['total_runs'].sum().reset_index()

           id  inning                 batting_team  total_runs
0      335982       1        Kolkata Knight Riders         222
1      335982       2  Royal Challengers Bangalore          82
2      335983       1          Chennai Super Kings         240
3      335983       2              Kings XI Punjab         207
4      335984       1             Rajasthan Royals         129
...       ...     ...                          ...         ...
1625  1237178       2          Sunrisers Hyderabad         132
1626  1237180       1               Delhi Capitals         189
1627  1237180       2          Sunrisers Hyderabad         172
1628  1237181       1               Delhi Capitals         156
1629  1237181       2               Mumbai Indians         157

[1630 rows x 4 columns]

In [92]:
#14
a=df_ipl[df_ipl['over']<6]
a.groupby(['id','inning','batting_team'])['total_runs'].sum()

id       inning  batting_team
335982   1       Kolkata Knight Riders          61
         2       Royal Challengers Bangalore    26
335983   1       Chennai Super Kings            53
         2       Kings XI Punjab                63
335984   1       Rajasthan Royals               40
                                                ..
1237178  2       Sunrisers Hyderabad            48
1237180  1       Delhi Capitals                 65
         2       Sunrisers Hyderabad            49
1237181  1       Delhi Capitals                 41
         2       Mumbai Indians                 61
Name: total_runs, Length: 1630, dtype: int64

In [93]:
#15
a=df_ipl[df_ipl['over']<6]
a['player_dismissed'].value_counts()

S Dhawan      74
PA Patel      73
G Gambhir     69
CH Gayle      62
V Sehwag      61
              ..
BJ Haddin      1
R Sathish      1
AUK Pathan     1
Z Khan         1
PK Garg        1
Name: player_dismissed, Length: 237, dtype: int64

In [38]:
#16
a=df_ipl.groupby(['id','inning','batsman'])['batsman_runs'].sum().reset_index()
b=a[a['batsman_runs']>=100]
b['batsman'].value_counts()

CH Gayle            6
V Kohli             5
SR Watson           4
DA Warner           4
AB de Villiers      3
BB McCullum         2
HM Amla             2
AM Rahane           2
V Sehwag            2
SV Samson           2
BA Stokes           2
M Vijay             2
KL Rahul            2
AC Gilchrist        2
S Dhawan            2
LMP Simmons         1
RR Pant             1
AT Rayudu           1
JM Bairstow         1
SPD Smith           1
Q de Kock           1
WP Saha             1
RG Sharma           1
DA Miller           1
SK Raina            1
MEK Hussey          1
KP Pietersen        1
SR Tendulkar        1
PC Valthaty         1
DPMD Jayawardene    1
YK Pathan           1
MK Pandey           1
SE Marsh            1
ST Jayasuriya       1
A Symonds           1
MA Agarwal          1
Name: batsman, dtype: int64

In [46]:
#17
a=df_ipl.groupby(['id','inning','batsman'])['batsman_runs'].sum().reset_index()
b=a[(a['batsman_runs']>=50) & (a['batsman_runs']<100)]
b['batsman'].value_counts()

DA Warner          48
S Dhawan           41
RG Sharma          39
V Kohli            39
AB de Villiers     38
                   ..
MJ Lumb             1
IK Pathan           1
AA Jhunjhunwala     1
AD Mathews          1
RJ Quiney           1
Name: batsman, Length: 156, dtype: int64

In [48]:
#18
a=df_ipl.groupby('bowler').sum()['is_wicket']
a=a.sort_values(ascending=False)
a.head(30).reset_index()

             bowler  is_wicket
0        SL Malinga        188
1          DJ Bravo        175
2          A Mishra        169
3         PP Chawla        164
4   Harbhajan Singh        161
5          R Ashwin        153
6           B Kumar        146
7         SP Narine        143
8          UT Yadav        137
9     R Vinay Kumar        127
10        YS Chahal        124
11        RA Jadeja        122
12          A Nehra        121
13        JJ Bumrah        119
14           Z Khan        119
15   Sandeep Sharma        117
16        SR Watson        107
17         DW Steyn        105
18          P Kumar        102
19         RP Singh        100
20        MM Sharma        100
21          PP Ojha         99
22        IK Pathan         99
23        JA Morkel         96
24      DS Kulkarni         91
25         M Morkel         88
26       JD Unadkat         88
27        CH Morris         88
28         AR Patel         87
29         L Balaji         85

In [90]:
#19
a=df_ipl.groupby(['id','inning','batting_team'])['total_runs'].sum().reset_index()
b=a[a['total_runs']>=200]
b['batting_team'].value_counts()

Royal Challengers Bangalore    19
Chennai Super Kings            17
Kings XI Punjab                14
Mumbai Indians                 14
Kolkata Knight Riders          12
Sunrisers Hyderabad            12
Rajasthan Royals                9
Delhi Daredevils                5
Delhi Capitals                  2
Deccan Chargers                 1
Gujarat Lions                   1
Name: batting_team, dtype: int64

In [49]:
#20
df_ipl.groupby('batting_team')['total_runs'].sum().sort_values(ascending=False).head()

batting_team
Mumbai Indians                 32286
Royal Challengers Bangalore    30214
Kings XI Punjab                30017
Kolkata Knight Riders          29383
Chennai Super Kings            28363
Name: total_runs, dtype: int64

In [88]:
#21
a=df_ipl[df_ipl['batting_team']=='Kolkata Knight Riders']
a['batsman'].unique()

array(['RT Ponting', 'BB McCullum', 'DJ Hussey', 'Mohammad Hafeez',
       'SC Ganguly', 'WP Saha', 'LR Shukla', 'M Kartik', 'I Sharma',
       'AB Agarkar', 'DB Das', 'BJ Hodge', 'Salman Butt', 'Umar Gul',
       'AB Dinda', 'A Chopra', 'T Taibu', 'Iqbal Abdulla',
       'Shoaib Akhtar', 'MC Henriques', 'CH Gayle', 'SB Bangar',
       'Yashpal Singh', 'AN Ghosh', 'BAW Mendis', 'MN van Wyk',
       'AD Mathews', 'Mashrafe Mortaza', 'SS Shaikh', 'MK Tiwary',
       'CA Pujara', 'OA Shah', 'RS Gavaskar', 'SE Bond', 'Mandeep Singh',
       'CK Langeveldt', 'JH Kallis', 'MS Bisla', 'YK Pathan',
       'EJG Morgan', 'R Bhatia', 'G Gambhir', 'Shakib Al Hasan', 'B Lee',
       'L Balaji', 'BJ Haddin', 'SP Goswami', 'RN ten Doeschate',
       'MV Boucher', 'SP Narine', 'Mohammed Shami', 'R McLaren',
       'PJ Sangwan', 'SMSM Senanayake', 'S Narwal', 'P Dogra',
       'MK Pandey', 'SA Yadav', 'RV Uthappa', 'CA Lynn', 'R Vinay Kumar',
       'PP Chawla', 'UT Yadav', 'M Morkel', 'AD Russell', 'J Botha',
       'PJ Cummins', 'GB Hogg', 'Azhar Mahmood', 'C Munro', 'R Sathish',
       'JO Holder', 'CR Woakes', 'C de Grandhomme', 'NM Coulter-Nile',
       'Kuldeep Yadav', 'DM Bravo', 'SP Jackson', 'TA Boult', 'IR Jaggi',
       'AS Rajpoot', 'N Rana', 'KD Karthik', 'RK Singh', 'TK Curran',
       'Shivam Mavi', 'Shubman Gill', 'MG Johnson', 'M Prasidh Krishna',
       'JPR Scantlebury-Searles', 'NS Naik', 'HF Gurney', 'JL Denly',
       'CR Brathwaite', 'Y Prithvi Raj', 'KC Cariappa', 'RA Tripathi',
       'T Banton', 'LH Ferguson', 'CV Varun', 'KL Nagarkoti'],
      dtype=object)

In [51]:
#22
df_ipl.groupby(['id','inning','batting_team','over'])['total_runs'].sum()

id       inning  batting_team           over
335982   1       Kolkata Knight Riders  0        3
                                        1       18
                                        2        6
                                        3       23
                                        4       10
                                                ..
1237181  2       Mumbai Indians         14      10
                                        15      11
                                        16      10
                                        17       7
                                        18       3
Name: total_runs, Length: 31362, dtype: int64

In [53]:
#23
df_ipl['player_dismissed'].value_counts()

RG Sharma         167
RV Uthappa        165
SK Raina          161
V Kohli           154
S Dhawan          152
                 ...
Sunny Gupta         1
VS Yeligati         1
A Nel               1
V Pratap Singh      1
DR Sams             1
Name: player_dismissed, Length: 506, dtype: int64

In [56]:
#24
df_ipl.groupby('bowler').count()['ball'].sort_values(ascending=False).reset_index()

              bowler  ball
0    Harbhajan Singh  3451
1           R Ashwin  3327
2          PP Chawla  3285
3           A Mishra  3233
4         SL Malinga  2974
..               ...   ...
415   LS Livingstone     6
416        DA Warner     2
417        SPD Smith     2
418          SN Khan     2
419     AC Gilchrist     1

[420 rows x 2 columns]

In [60]:
#25
df_ipl.groupby('bowler').sum()['total_runs'].sort_values(ascending=False).reset_index()

              bowler  total_runs
0          PP Chawla        4330
1    Harbhajan Singh        4038
2           A Mishra        3913
3           DJ Bravo        3869
4           R Ashwin        3756
..               ...         ...
415          SN Khan           6
416        AM Rahane           5
417        SPD Smith           5
418        DA Warner           2
419     AC Gilchrist           0

[420 rows x 2 columns]

In [64]:
#26
df_iplm['date']=pd.to_datetime(df_iplm['date'])
df_iplm['year']=df_iplm['date'].dt.year
df_iplm['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020], dtype=int64)

In [68]:
#27
df_iplm['date']=pd.to_datetime(df_iplm['date'])
df_iplm['year']=df_iplm['date'].dt.year
df_iplm['year'].nunique()
a=df_ipl.groupby(df_iplm['year']).count()['id']
b= a.sort_values(ascending=False)
b.head(1)

year
2013.0    76
Name: id, dtype: int64

In [70]:
#28
df_iplm['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          65
Hyderabad          64
Chennai            57
Chandigarh         56
Jaipur             47
Pune               38
Abu Dhabi          29
Dubai              26
Bengaluru          15
Durban             15
Visakhapatnam      13
Ahmedabad          12
Sharjah            12
Centurion          12
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cuttack             7
Cape Town           7
Port Elizabeth      7
Ranchi              7
Raipur              6
Kochi               5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

In [71]:
#29
df_iplm['venue'].value_counts()

Eden Gardens                                            77
Feroz Shah Kotla                                        74
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   65
Rajiv Gandhi International Stadium, Uppal               64
MA Chidambaram Stadium, Chepauk                         57
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Dubai International Cricket Stadium                     33
Sheikh Zayed Stadium                                    29
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Maharashtra Cricket Association Stadium                 21
Sharjah Cricket Stadium                                 18
Dr DY Patil Sports Academy                              17
Subrata Roy Sahara Stadium                              17
M.Chinnaswamy Stadium                                   15
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
Barabati Stadium                                         7
Newlands                                                 7
St George's Park                                         7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [75]:
#30
umpire=pd.concat([df_iplm['umpire1'],df_iplm['umpire2']])
umpire.value_counts().head(5)

S Ravi             121
HDPK Dharmasena     94
AK Chaudhary        87
C Shamshuddin       82
M Erasmus           65
dtype: int64

In [78]:
#31
df_iplm['player_of_match'].value_counts().head(1)

AB de Villiers    23
Name: player_of_match, dtype: int64

In [81]:
#32
df_iplm['player_of_match'].value_counts().head(10).reset_index()

            index  player_of_match
0  AB de Villiers               23
1        CH Gayle               22
2       RG Sharma               18
3       DA Warner               17
4        MS Dhoni               17
5       SR Watson               16
6       YK Pathan               16
7        SK Raina               14
8         V Kohli               13
9       G Gambhir               13

In [80]:
#33
df_iplm.groupby(['year'])['winner'].value_counts()

year  winner
2008  Rajasthan Royals               13
      Kings XI Punjab                10
      Chennai Super Kings             9
      Delhi Daredevils                7
      Mumbai Indians                  7
                                     ..
2020  Kolkata Knight Riders           7
      Royal Challengers Bangalore     7
      Chennai Super Kings             6
      Kings XI Punjab                 6
      Rajasthan Royals                6
Name: winner, Length: 108, dtype: int64

In [83]:
#34 
df_iplm.groupby(df_iplm['year'])['player_of_match'].value_counts()

year  player_of_match
2008  SE Marsh           5
      SR Watson          4
      YK Pathan          4
      AC Gilchrist       2
      M Ntini            2
                        ..
2020  Sandeep Sharma     1
      Shivam Mavi        1
      Shubman Gill       1
      V Kohli            1
      WP Saha            1
Name: player_of_match, Length: 558, dtype: int64